<% provide(:title, "Sign in") %>
<% provide(:body_attributes, 'class="bg-body-tertiary"'.html_safe) %>

<main class="form-signin w-100 mx-auto mt-5" style="max-width: 330px">
  <% flash.each do |message_type, message| %>
    <%= render partial: "shared/alert", locals: { alert_type: message_type, message: message } %>
  <% end %>
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <%= form_with url: sign_in_path do |f| %>
    <div class="form-floating">
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
      <%= f.label :Username %>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control mt-1", placeholder: "Password" %>
      <%= f.label :Password %>
    </div>
    <div class="form-check text-start my-3">
      <%= f.label :remember_me, class: "form-check-label" %>
      <%= f.check_box :remember_me, class: "form-check-input" %>
    </div>
    <%= f.submit "Sign in", id: :sign_in, class: "btn btn-primary w-100 py-2" %>
  <% end %>
</main>
