<div class="modal fade" id="delete-project-modal-<%= id %>" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Are you sure you want to delete project?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", project_path(id), method: :delete, title: "Remove project", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
